# Configuración de credenciales de Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME="TU_STORAGE_ACCOUNT_NAME"
AZURE_STORAGE_ACCOUNT_KEY="TU_STORAGE_ACCOUNT_KEY"
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=TU_STORAGE_ACCOUNT_NAME;AccountKey=TU_STORAGE_ACCOUNT_KEY;EndpointSuffix=core.windows.net"
AZURE_CONTAINER_NAME="tu_contenedor_azure"
AZURE_BLOB_NAME="ruta/a/tu/archivo.parquet"
