# Configuración de credenciales de Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME="aybdwhstorage01"
AZURE_STORAGE_ACCOUNT_KEY="tu_storage_account_key_aqui"
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=aybdwhstorage01;AccountKey=tu_storage_account_key_aqui;EndpointSuffix=core.windows.net"
AZURE_CONTAINER_NAME="tuboleta"
AZURE_BLOB_NAME="GOLD/SECUTIX/Training Data/Clustering de Localidades/"

