# Configuración de credenciales de Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=TU_ACCOUNT_NAME;AccountKey=TU_ACCOUNT_KEY;EndpointSuffix=core.windows.net"
AZURE_CONTAINER_NAME="nombre-de-tu-contenedor"
AZURE_BLOB_NAME="localidades.parquet"
